h1 hjkhkhk
h2.ggg
    span Привет
.gur
    .gur__fun 
        .gur_fun_sv
        .gur_fun_rt
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, dignissimos.
            p looodfs sdfsdf sfdfsd sdfsdf sdfsdf sdfsdf sdfsdf
        p Lorem, ipsum dolor.125454
        a(href="/fgegg") dfsdf
ul.ultt
    li
        a(href="/") asdasasd 
    li 
        a(href="/") asdasasd 
    li 
        a(href="/") asdasasd 
    li 
        a(href="/") asdasasd 
    li 
        a(href="/") asdasasd 
    li 
        a(href="/") asdasasd 
    li
        a(href="/") asdasasd 

h2.h2p Привет
p
p
.block1(data-id='5' data-gg=4)

.contaner
    .row
        .col-md-4
        .col-md-4
        .col-md-4 
